$placeholder-color:rgba(193, 193, 193, 1);
::-webkit-input-placeholder {
    color: $placeholder-color;
}

:-moz-placeholder {
    color: $placeholder-color;
}

::-moz-placeholder {
    color: $placeholder-color;
}

:-ms-input-placeholder {
    color: $placeholder-color;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: $placeholder-color;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: $placeholder-color;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: $placeholder-color;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: $placeholder-color;
}


