@import './var';

@mixin border($color: $border-color, $width: 1px, $style: solid) {
    border: $color $width $style;

    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        border: $color $width/2 $style;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 3) {
        border: $color $width/3 $style;
    }
}

@mixin border-top($color: $border-color, $width: 1px, $style: solid) {
    border-top: $color $width $style;

    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        border-top: $color $width/2 $style;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 3) {
        border-top: $color $width/3 $style;
    }
}

@mixin border-bottom($color: $border-color, $width: 1px, $style: solid) {
    border-bottom: $color $width $style;

    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        border-bottom: $color $width/2 $style;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 3) {
        border-bottom: $color $width/3 $style;
    }
}

@mixin border-left($color: $border-color, $width: 1px, $style: solid) {
    border-left: $color $width $style;

    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        border-left: $color $width/2 $style;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 3) {
        border-left: $color $width/3 $style;
    }
}

@mixin border-right($color: $border-color, $width: 1px, $style: solid) {
    border-right: $color $width $style;

    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        border-right: $color $width/2 $style;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 3) {
        border-right: $color $width/3 $style;
    }
}