$placeholder-color:rgba(193, 193, 193, 1);

::-webkit-input-placeholder {
  color: $placeholder-color;
}

:-moz-placeholder {
  color: $placeholder-color;
}

::-moz-placeholder {
  color: $placeholder-color;
}

:-ms-input-placeholder {
  color: $placeholder-color;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $placeholder-color;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $placeholder-color;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: $placeholder-color;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: $placeholder-color;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}


.c-page-body {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &.header-pd {
    padding-top: 0.44rem;
  }
  
  &.tab-pd {
    padding-bottom: 0.5rem;
  }
}
//chen 自定义flex样式
.chen_center_absolute {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chen_center_absolute_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chen_center_absolute_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chen_between_absolute_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
//chen 自定义flex样式


