$placeholder-color:rgba(193, 193, 193, 1);

::-webkit-input-placeholder {
  color: $placeholder-color;
}

:-moz-placeholder {
  color: $placeholder-color;
}

::-moz-placeholder {
  color: $placeholder-color;
}

:-ms-input-placeholder {
  color: $placeholder-color;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $placeholder-color;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $placeholder-color;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: $placeholder-color;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: $placeholder-color;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

//chen 自定义flex样式
.chen_center_absolute {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chen_center_absolute_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chen_center_absolute_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chen_between_absolute_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.c-btn {
  border: 1px solid #777;
  background-color: transparent;
  color: #777;
  padding: 0.06rem 0.1rem;
  border-radius: 1rem;
  min-width: 0.8rem;

  & + .c-btn{
    margin-left: 0.1rem;
  }

  &.btn-light {
    border-color: #fff;
    color: #fff;
  }

  &.btn-primary {
    border-color: $color-primary;
    color: $color-primary;

    &:active{
      border-color: $color-primary_active;
      color: $color-primary_active;
    }

    &:disabled {
      border-color: $color-primary-disabled;
      color: $color-primary-disabled;
    }
  }
}

.c-img-box {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;

  
  // &.box-bg{
  //   background: url('~@/assets/default_pic.png') no-repeat;
  //   background-color: #f3f3f3;
  //   background-size: 25px;
  //   background-position: center;

  //   &.box-big{
  //     background-size: 40px;
  //   }

  //   &:after{
  //     content: "";
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 1px;
  //     box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
  //   }
  // }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


}

.c-input-mask{
  position: relative;
  width: 100%;
  &:after{
    content: "";
    z-index: 50;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
  }
}

.c-primary{
  color: $color-primary;
}

.c-secondly{
  color: $color-secondly;
}

.c-badge{
  padding: 0 0.05rem;
  background: $color-primary-gradient;
  color: #fff;
  font-weight: 500;
  border-radius: 0.1rem;
  font-size: 0.12rem;
}

.c-list-enter-active {
  transition: all 0.3s;
}
.c-list-enter, .c-list-leave-to{
  opacity: 0.5;
  transform: translateY(10px);
}

//vue-lazyload
[lazy]{
  transition:opacity 0.3s ease-out; 
}

[lazy="loading"]{
  opacity: 0;
}

[lazy="loaded"]{
  opacity: 1;
}

.c-tag{
  @include border(1px, $color-primary);
  color: $color-primary;
  padding: 0.04rem 0.05rem;
  font-size: 0.12rem;
  line-height: 1;
  border-radius: 0.04rem;
  transform: scale(0.8);
  transform-origin: left;
  display: inline-block;

  &.secondly{
    @include border(1px, $color-secondly);
    color: $color-secondly;
  }

  &.dark{
    @include border(1px, $color-dark);
    color: $color-dark;
  }

  &.light{
    @include border(1px, $color-light);
    color: $color-light;
  }
}

.c-old-price{
  color: #aaa;
    text-decoration: line-through;
    font-size: 0.12rem;

    vertical-align: text-bottom;
    transform: scale(0.9);
    transform-origin: bottom;
    vertical-align: bottom;
    display: inline-block;
}
