$color-primary:#ff6b9d;
$color-primary-active:#ff6398;
$color-primary-disabled:#ffa4c3;

$color-secondly:#5dbaff;
$color-secondly-active:#5dbaff;
$color-secondly-disabled:#5dbaff;
$color-gradient:linear-gradient(to right, rgb(255, 117, 140) 0%, #ff60a8 100%);

$color-border:rgba(220, 220, 220, 0.4);